.contenedor {
    color: white;
    border: 5px solid gold;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 840px;
}

.rojo {
    background-color: #eb4d4b;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.naranja {
    background-color: #f0932b;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.amarillo {
    background-color: #f6e58d;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.verde {
    background-color: #6ab04c;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.azul {
    background-color: #4834d4;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.indigo {
    background-color: #30336b;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}
.morado {
    background-color: #be2edd;
    flex-grow: 1;
    width: 75px;
    height: 120px;
}